<div class="container row">
<mat-card class="example-card col-md-6">
    <mat-card-header>
      
      <mat-card-title style="color: white;padding: 10px;margin: 20px;">VEZ PIZZA</mat-card-title>
      
    </mat-card-header>
    <span class="icon-box" style="padding: 100px;margin-top: 20px;">
        <img mat-card-image src="assets/Images/my-vegpizza.jpg">
    </span>
    
    <mat-card-content>
      <p style="text-align: center;">
        A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn" routerLink="/vegpizza" style="background-color: white; color: #D41B35;">View ALL</button>
      
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card col-md-6">
    <mat-card-header>
      
      <mat-card-title style="color: white;padding: 10px;margin: 20px;">NON-VEG PIZZA</mat-card-title>
      
    </mat-card-header>
    <span class="icon-box" style="padding: 100px;margin-top: 20px;"><img mat-card-image src="assets/Images/my-nonveg.jpg"></span>
    <mat-card-content>
      <p style="text-align: center;">
        Choose your favourite non-veg pizzas from the Domino's Pizza menu. Get fresh non-veg pizza with your choice of crusts & toppings
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn" routerLink="/nonvegpizza" style="background-color: white; color: #D41B35;">View ALL</button>
      
    </mat-card-actions>
  </mat-card>
</div>