/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    background-color: #D41B35;
    color: white;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
    background-color: white;
  }